@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-figtree;
}
@keyframes toastLoader {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toastLoader {
  animation: toastLoader 3s linear forwards;
}
